.DS_Store
.vscode
**/.ipynb_checkpoints
**/__pycache__
src/**_distilbert_colab

data/livedoor/**
data/ddqa/RC-QA/**

model/**_distilbert/**

!.gitkeep
!data/livedoor/**_indexed.tsv
!data/livedoor/create_corpus_from_index.py
!data/livedoor/README.md
!model/namco_distilbert/config_livedoor.json
!model/namco_distilbert/config_ddqa.json
